<div [ngClass]="setClasses()">
    <div style="float:left;width:25%" *ngFor="let index of indexes">
        <h1 style="color: blueviolet; text-align: center;">{{ getCategory(index, tickets) }}</h1>
        <ul>
            <li class="card" style="list-style-type: none;" *ngFor="let ticket of ticketGetter(tickets)[index]">
                <div class="container" style="margin: 1em; width:100%;">
                    <div>{{ ticket.name }}</div>
                    <button style="position:absolute;top:0;right:0;
                    border: none;
                    background-color: white;
                    padding: 2px 15px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 30px;
                    margin: 4px 2px;
                    cursor: pointer;" (click)="onDelete(ticket, deleteTodo)" class="del">&#x2718;</button>
                    <br>
                    <div style="margin-bottom: 10px">
                        <app-ticket-component style="float:none;" [ticket]="ticket"></app-ticket-component>
                        <app-edit-ticket-component style="float:left;margin-right: 0.5em;" (onEdit)="onEdit($event, editTicket)" [ticket]="ticket"></app-edit-ticket-component>
                    </div>
                </div>
            </li>
        </ul>
    </div>    
</div>
