<div [ngClass]="setClasses()">
    <div style="float:left;width:25%" *ngFor="let index of indexes">
        <h1 style="color: blueviolet; text-align: center;">{{ getCategory(index) }}</h1>
        <ul>
            <li class="card" style="list-style-type: none;" *ngFor="let ticket of ticketGetter()[index]">
                <div class="container" style="margin: 1em; width:100%;">
                    <div>{{ ticket.name }}</div>
                    <br>
                    <div style="margin-bottom: 10px">
                        <app-ticket-component class="view-button" [ticket]="ticket"></app-ticket-component>
                        <app-edit-ticket-component style="float:left;" (onEdit)="onEdit($event)" [ticket]="ticket"></app-edit-ticket-component>
                        <button style="float:left;" (click)="onDelete(ticket)" class="del">Delete</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>    
</div>
