<form class="form" (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
    <input type="text" formControlName="name" placeholder="Name..." required>
    <input type="text" formControlName="description" placeholder="Description..." required>
    <select (change)="selectChangeHandler($event)" formControlName="category" required>
        <option selected disabled hidden style='display: none' value=''></option>
        <option value="drop">Drop</option>
        <option value="add">Add</option>
        <option value="keep">Keep</option>
        <option value="improve">Improve</option>
    </select>
    <input type="submit" value="Submit" class="btn">
</form>

